# SQLite database files
*.db
*.db-journal
*.db copy

# Generated export files
database/macreporting_export.json
archive/sqlite/macreporting_export.json

# Python cache files
__pycache__/
*.py[cod]

# macOS files
.DS_Store

# Virtual environments
.venv/
venv/

# report pdf files generated
pdf_services/generated_pdfs/*

# Environment variables / secrets
.env

uploads/
